<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %>! <br/>
    
   This email is being sent beacuse you forgot your password.
   If this is not you please do not continue.
    This link will expire in 15 minutes!!!</h1>
    <p>
     <%= @user.reset_password_token %> THIS IS THE TOKEN
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Password reset ", password_reset_url(token: @token) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>